@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Monserrat";
}

.container{
    width: 80%;
    margin:auto;
}
/*logo*/

#logo img{
    height: 100px;
    width: auto;
    border-right: 1px grey solid;
    padding-right:15px;
}

/* menu*/

nav{
    margin:40px 0;
}
ul{
    list-style-type: none;
}

li{
    display: inline;
    text-transform: uppercase;
    padding-right: 10px;
}

li a{
    text-decoration: none;
    color: darkgrey;
}

/*prima section*/

.banner{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
    border-radius: 15px;
    background-position: center;
}

.banner-text{
    position:absolute;
    bottom:20px;
    left: 10px;
    color:white;
    margin:20px;
}

.banner-text h2{
    font-size: 2.5em;
}
.banner-text p{
    font-size: 1.8em;
}

/*seconda section*/

.top{
    margin: 40px 0px;
}

.top span{
    color: darkgray;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
.col{
    float: left;
}
.sx,.dx{
    width: 20%;
}

.col-cx{
    width: 60%;
    border-radius: 15px;
    padding:0px 20px;
}

.sx div,.dx div,.cx div{
    width: 100%;
    height: 200px;
    filter: brightness(80%);
    border-radius: 15px;
}

.sx div{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    background-position: center;
}

.cx div{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    background-position: center;
}

.dx div{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    background-position: center;
}

section:last-child h3, 
section:last-child p{
    margin:10px 0px;
}

/*Footer*/

footer div{
    margin:40px 0px;

    text-align: center;
}


